<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department</title>
    <link rel="stylesheet" href="/css/departement.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <div class="right">
                    <img src="images/logo2.png" alt="">
                </div>
                <div class="left">
                    <li><a href="/">Home</a></li>
                    <li><a href="">Students Placed</a></li>
                    <li><a href="">Pending</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Year</a>
                        <div class="dropdown-content" onclick="updateYear(event)">
                            <!-- Add more years as needed -->
                            <a href="#">2023</a>
                            <a href="#">2022</a>
                            <a href="#">2021</a>
                            <a href="#">2020</a>
                            <a href="#">2019</a>
                            <a href="#">2018</a>
                            <a href="#">2017</a>
                            <a href="#">2016</a>
                            <a href="#">2015</a>
                            <a href="#">2014</a>
                        </div>
                    </li>
                    <li><a href="./logout">LogOut</a></li>
                    <!-- <li><a href="">Admin</a></li> -->
                    <!-- <li><a href="">Setting</a></li> -->
                </div>
            </ul>
        </nav>
    </header>

    <div class="main-content">
        <div class="container">
            <h1 style="text-align: center;">CSE Department</h1>
            <h2 id="selectedYear">Selected Year: </h2>
            <!-- <h1>Session: 2023</h3> -->
        </div>
        <div class="container-detail">
            <div class="box" id="acceptedBox">
                <h3 id="status">Total Student: <span id="acceptedCount">196</span></h3>
            </div>
            <div class="box" id="appliedBox">
                <h3 id="status">Total Placed: <span id="appliedCount">138</span></h3>
            </div>
            <div class="box" id="rejectedBox">
                <h3 id="status">Pending: <span id="rejectedCount">58</span></h3>
            </div>
        </div>

        <script>
            function updateYear(event) {
                // console.log("hii")
                const selectedYear = event.target.textContent;
                document.getElementById('selectedYear').textContent = 'Selected Year: ' + selectedYear;
            }
        </script>
</body>

</html>