/* Add some basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline-block; /* Change from float: left; */
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul .left {
    display: flex;
    justify-content: center;
}

nav ul .left li {
    padding: 1rem;
}

nav ul li a {
    color: aqua;
    font-size: 1.3rem;
}

.right img {
    position: absolute;
    left: 45px;
}


/* Style the dropdown button */
.dropdown {
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* three boxes */
.main-content{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    top: 0;
    /* left: 80px; */
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.container-detail {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    width: 30%;
    height: 150px;
    box-sizing: border-box;
}
#status{
    margin-top: 40px;
}
#acceptedBox{
    background-color: green;
}
#appliedBox{
    background-color: rgb(248, 179, 6);
}
#rejectedBox{
    background-color: rgb(251, 65, 32);
}