/* Google Font CDN link */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(32, 30, 26);
    height: 79px;
    position: relative;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul .left {
    display: flex;
    justify-content: center;
}

nav ul .left li {
    padding: 1rem;
}

nav ul li a {
    color: aqua;
    font-size: 1.3rem;
}

.right img {
    position: absolute;
    left: 45px;
}

/* First-Section */
.firstsection {
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 1%, 100% 90%, 0% 100%);
}

.firstsection p {
    text-align: center;
    font-size: 5rem;
    color: black;
    padding-top: 140px;
    white-space: pre-wrap;
    font-family: 'Roboto Slab', serif;
}

/* Second Section */
.secondsection {
    margin: 10vh 20vh;
}

.secondsection h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secondsection .text {
    display: flex;
}

.secondsection .text .leftsecond {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

hr {
    border: none;
    height: 0;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 1px 4px 1px rgb(57, 56, 40);
}


/* ThirdSection */
.thirdsection {
    margin: 10vh 20vh;
}

.thirdsection .text2 {
    display: flex;
}

.thirdsection h1 {
    font-size: 3rem;
    text-align: center;
}

.thirdsection hr {
    margin : 40px auto;
    border: none;
    height: 0px;
    box-shadow: 0 1px 4px 1px cornflowerblue;
}

.thirdsection .righthird {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0px 30px;
}

.thirdsection .lefthird img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(120, 127, 166);
}

/* Timeline */

