* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img{
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}
.sidebar.active{
    width: 250px;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}
.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}
.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}
.user{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.user p{
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}
.bold{
    font-weight: 600;
}
.sidebar p{
    opacity: 0;
}

.sidebar.active p{
    opacity: 1;
}
.sidebar ul li {
    position: relative;
    list-style-type:none;
    height: 50px;
    width: 90%;
    line-height: 50px;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius:0.8rem ;
}
.sidebar ul li a:hover{
    background-color: #fff;
    color: #12171e;
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar .nav-item{
    opacity: 0;
}
.sidebar.active .nav-item{
    opacity: 1;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgb(0, 0, 0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
    background-color: #12171e;
    color: white;
}
.sidebar.active ul li .tooltip{
    display: none;
}



/* Job Posting */
.job-updates {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.job-updates h1 {
    text-align: center;
    margin-bottom: 20px;
}

.job-updates ul {
    list-style: none;
    padding: 0;
}

.job-updates li {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.job-updates h3 {
    margin-bottom: 5px;
}

.job-updates p {
    margin: 0;
}
/* End of Job Posting */

@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }

    th {
        text-align: center;
    }
}